extends base

block content
  include partials/side-option.pug
  video(src="/"+video.fileUrl,controls).video__default
  div.video__metaData
    p=video.description
    small=video.createdAt
  div 
    a(href=`/user/${video.owner._id}`)
      img(src=video.owner.avatarUrl,width="30px",height="30px").video__owner-img
  if String(video.owner._id)===String(loggedInUser._id)
    a(href=`${video.id}/edit`) 비디오 수정 &rarr;
    br
    a(href=`${video.id}/delete`) 비디오 삭제 &rarr;