extends base

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand        
    div.video__user-info
        h1.video__title=video.title
        div.video__user-info-head
            img(src=`${video.owner.avatarUrl}`)
            h1.video__owner=video.owner.username
            if loggedIn
                button#videoSubscribe.video__subscribe 
                    span 구독
                button#videoLike.video__like
                    i.fas.fa-thumbs-up
                    span 좋아요 #{video.meta.rating.length}
            if String(video.owner._id)===String(loggedInUser._id)
                div.video__change
                    a(href=`/video/${video._id}/edit`)
                        button 비디오 수정
                    a(href=`/video/${video._id}/delete`)
                        button 비디오 삭제
    div.video__user-info__metadata
        span.views=`조회수 ${video.meta.views}`
        span.createdAt=video.createdAt
        div.second__div 
            span 영상 설명 
            div.third__div
                span.description=video.description
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                img(src=`${loggedInUser.avatarUrl}`)
                textarea(width="100%" ,placeholder=`${loggedInUser.username} 님의 댓글`)#textarea
                button 작성
    span.comment_CNT 댓글 #{video.comments.length} 개
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    div 
                        img(width="40",height="40", src=`${comment.avatarUrl}`)
                        span.owner  @#{comment.owner} :
                        span  #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id)
                        button.delete__comment 삭제
                    
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")